body {
	font-family: helvetica;
	text-align:center;
	background: #B1E3E2;
	box-shadow: inset 0 0 100px 20px #80D0CF;

}
.hide {
	display:none;
}
#header {
	background-color: #0FADC0;
	height: 100px;
	width: 100%;
	top: 0;
	margin-top:-15px;
}
h3{
	color:#FFFFFF;
	padding:30px;
}
#content>h2 {
	text-align:center;
	margin:0;
	padding:0;
}
#content {
	margin-top:20px;
	height:550px;
	/*background-color:#AEDD94;*/
	border: 1px dotted grey;
	margin-left: 80px;
	margin-right: 80px
	
}
#lives {
	color:#E61610;
	padding:20px;
	margin: 0px auto;
	margin-top:100px;


}
.heart1, .heart2, .heart3  {
	display:inline-block;
	margin-bottom:10px;
}
#info > button {
	float:left;
	width:100px;
	height:60px;
	border-radius: 10%;
	margin-left:10px;
	margin-top:20px;
}
.answers  {
	
	display:block;
	margin-right: 30px;
}
input {
	margin-bottom: 50px;
	margin-left: 30px;
	display:inline-block;
}
#current-question {
	text-align:center;
	font-size:30px;
	padding:0;
	margin-right:110px;
	
}
#next {
	width:100px;
	height:20px;
	border-radius: 10%;
	border: 1px solid black;
	display: block;
	margin: 0px auto;
	margin-top:20px;

}
.fa-check, .fa-times {

	float:right;
	color:green;
	z-index:10;
	margin-right:-262px;
	margin-top: -34px;
}
.fa-times {
	color:red;
	margin-right:-180px;
}
.cow {
		float:right;
		width:100px;
		margin-right: -30px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}
.speech {
	float:right;
	margin-top: -54px;
	height:90px;
	width:300px;
	clear:right;

}
hr {
   width: 100%;
   height: 20px;
   background-color: #91E4FB;
   margin-bottom:-100px;

}

h1 {
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	color: #8699A0;
	text-shadow: 0 0 1px #758890;
	margin-top:-100px;
	font-family: arial, verdana;
	outline: none;
	padding: 14px 30px;
	position: relative;
	text-transform: uppercase;
	/*A little shadow for 3d effect*/
	/*Finally another shadow to negate some aspects of the :after element to complete the effect. This drops a shrinked shadow over the :after element with the same color like that of the background. The shadow is shrinked by the same offset amount = 18. And it is moved down by twice the offset amount to cover the entire height of the :after element*/
	box-shadow: 
		0 0 30px 0 rgba(0, 0, 0, 0.1), 
		0 36px 0 -18px #B1E3E2;
}

/*The ribbon ends*/
h1:before {
	content: '';
	position: absolute;
	top: 18px;
	left: -15%;
	z-index: -1;
	width: 130%;
	/*We will be using the triangle logic - 2 sided borders and 0 height. That will create negative triangles on the left and right*/
	height: 0;
	border: 28px solid rgba(0, 0, 0, 0);
	border-left: 28px solid #B1E3E2;
	border-right: 28px solid #B1E3E2;
	/*Same color as the container which is the body in this case*/
}

/*The after pseudo element will negatve the bottom part of the ribbon completing the effect*/
h1:after {
	content: '';
	width: 100%;
	height: 0;
	position: absolute;
	top: 100%; left: 0;
	z-index: -1;
	/*The height of the top border is same as width of the left/right borders for the smoothest effect. The height of the top border is also the same as the offset the :before element has from the top*/
	border-top: 18px solid #99acb2;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
}

h1, h1:before {
	/*Some cool multi-background - we will use a combination of 4 backgrounds to create a cool effect*/
	background-image: 
		/*2 grey borders*/
		linear-gradient(
			transparent 8%, 
			rgba(0, 0, 0, 0.1) 8%, 
			rgba(0, 0, 0, 0.1) 14%, 
			transparent 14%, 
			transparent 86%, 
			rgba(0, 0, 0, 0.1) 86%, 
			rgba(0, 0, 0, 0.1) 92%, 
			transparent 92%
		), 
		/*white gloss gradient*/
		linear-gradient(
			rgba(255, 255, 255, 0.75), 
			rgba(255, 255, 255, 0) 
		), 
		/*thin stripes*/
		linear-gradient(
			45deg, 
			transparent 40%, 
			rgba(0, 0, 0, 0.1) 40%, 
			rgba(0, 0, 0, 0.1) 60%, 
			transparent 60%
		), 
		/*white base*/
		linear-gradient(white, white); 
	background-size: 
		cover, /*borders*/
		cover, /*white gloss*/
		4px 4px, /*thin stripes*/
		cover; /*base white*/
}

h1, h1:before, h1:after {
	box-sizing: border-box;
	/*Fix to make the borders appear on the ribbon ends also*/
	background-origin: border-box;
}