body {
	font-family: helvetica;
	text-align:center;
	background: #B1E3E2;
	box-shadow: inset 0 0 100px 20px #80D0CF;

}

#header {
	background-color: #0FADC0;
	height: 100px;
	width: 100%;
	top: 0;
	margin-top:-15px;
}
h3{
	color:#FFFFFF;
	padding:30px;
}
#content>h2 {
	text-align:center;
	margin:0;
	padding:0;
}
#content {
	margin-top:20px;
	height:500px;
	/*background-color:#AEDD94;*/
	border: 1px dotted grey;
}
#lives {
	color:#E61610;
	padding:20px;
	margin: 0px auto;
	margin-top:120px;

}
.heart1, .heart2, .heart3  {
	display:inline-block;
}
#info > button {
	float:left;
	width:100px;
	height:60px;
	border-radius: 10%;
	margin-left:100px;
	margin-top:20px;
}
input {
	margin-bottom: 50px;
	margin-left: 30px;
}
#guess {
	width:100px;
	height:20px;
	border-radius: 10%;
	border: 1px solid black;
	display: block;
	margin: 0px auto;
	margin-top:20px;

}
.cow {
		float:right;
		width:100px;
		margin-right: -30px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}
.speech {
	float:right;
	margin-top: -104px;
	height:160px;
	width:350px;

}
hr {
   width: 100%;
   height: 20px;
   background-color: #91E4FB;
   margin-bottom:-100px;

}

h1 {
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	color: #8699A0;
	text-shadow: 0 0 1px #758890;
	margin-top:-100px;
	font-family: arial, verdana;
	outline: none;
	padding: 14px 30px;
	position: relative;
	text-transform: uppercase;
	/*A little shadow for 3d effect*/
	/*Finally another shadow to negate some aspects of the :after element to complete the effect. This drops a shrinked shadow over the :after element with the same color like that of the background. The shadow is shrinked by the same offset amount = 18. And it is moved down by twice the offset amount to cover the entire height of the :after element*/
	box-shadow: 
		0 0 30px 0 rgba(0, 0, 0, 0.1), 
		0 36px 0 -18px #B1E3E2;
}

/*The ribbon ends*/
h1:before {
	content: '';
	position: absolute;
	top: 18px;
	left: -15%;
	z-index: -1;
	width: 130%;
	/*We will be using the triangle logic - 2 sided borders and 0 height. That will create negative triangles on the left and right*/
	height: 0;
	border: 28px solid rgba(0, 0, 0, 0);
	border-left: 28px solid #B1E3E2;
	border-right: 28px solid #B1E3E2;
	/*Same color as the container which is the body in this case*/
}

/*The after pseudo element will negatve the bottom part of the ribbon completing the effect*/
h1:after {
	content: '';
	width: 100%;
	height: 0;
	position: absolute;
	top: 100%; left: 0;
	z-index: -1;
	/*The height of the top border is same as width of the left/right borders for the smoothest effect. The height of the top border is also the same as the offset the :before element has from the top*/
	border-top: 18px solid #99acb2;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
}

h1, h1:before {
	/*Some cool multi-background - we will use a combination of 4 backgrounds to create a cool effect*/
	background-image: 
		/*2 grey borders*/
		linear-gradient(
			transparent 8%, 
			rgba(0, 0, 0, 0.1) 8%, 
			rgba(0, 0, 0, 0.1) 14%, 
			transparent 14%, 
			transparent 86%, 
			rgba(0, 0, 0, 0.1) 86%, 
			rgba(0, 0, 0, 0.1) 92%, 
			transparent 92%
		), 
		/*white gloss gradient*/
		linear-gradient(
			rgba(255, 255, 255, 0.75), 
			rgba(255, 255, 255, 0) 
		), 
		/*thin stripes*/
		linear-gradient(
			45deg, 
			transparent 40%, 
			rgba(0, 0, 0, 0.1) 40%, 
			rgba(0, 0, 0, 0.1) 60%, 
			transparent 60%
		), 
		/*white base*/
		linear-gradient(white, white); 
	background-size: 
		cover, /*borders*/
		cover, /*white gloss*/
		4px 4px, /*thin stripes*/
		cover; /*base white*/
}

h1, h1:before, h1:after {
	box-sizing: border-box;
	/*Fix to make the borders appear on the ribbon ends also*/
	background-origin: border-box;
}



























./*ribbon {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  margin-top: -60px;
  position: relative;
  color: #fff;
  font: 28px/40px sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #3D79D0;
  
  -webkit-animation: main 250ms;
  -moz-animation: main 250ms;
  -ms-animation: main 250ms;
  animation: main 250ms;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
  
  -webkit-animation: edge 500ms;
  -moz-animation: edge 500ms;
  -ms-animation: edge 500ms;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}

.ribbon i:nth-child(3), .ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -60px;
  z-index: -2;
  border: 30px solid #1D53C0;
  border-left-color: transparent;
  
  -webkit-animation: back 600ms;
  -moz-animation: back 600ms;
  -ms-animation: back 600ms;
  animation: back 600ms;
  
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -60px;
  border: 30px solid #1D53C0;
  border-right-color: transparent;

  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

p {
  text-align: center;
  color: #aaa;
}

/* animations */

/*@-webkit-keyframes main {
  0% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes edge {
  0%, 50% { -webkit-transform: scaleY(0); }
  100% { -webkit-transform: scaleY(1); }
}

@-webkit-keyframes back {
  0%, 75% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); }
}


@-moz-keyframes main {
  0% { -moz-transform: scaleX(0); }
  100% { -moz-transform: scaleX(1); }
}

@-moz-keyframes edge {
  0%, 50% { -moz-transform: scaleY(0); }
  100% { -moz-transform: scaleY(1); }
}

@-moz-keyframes back {
  0%, 75% { -moz-transform: scaleX(0); }
  100% { -moz-transform: scaleX(1); }
}


@keyframes main {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@keyframes edge {
  0%, 50% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}

@keyframes back {
  0%, 75% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}
*/

*/